assets/icons/
node_modules/
.github/
.vscode/
src/

pnpm-workspace.yaml
ADDING_LANGUAGE.md
.prettierignore
pnpm-lock.yaml
.gitattributes
tsup.config.ts
tsconfig.json
.vscodeignore
.prettierrc
.gitignore
suckmyass