.github/**
.vscode/**
.vscode-test/**
assets/icons/**
out/**
node_modules/**
src/**
.gitignore
.prettierignore
tsup.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*

PLANNING.md